@import 'variables';
@import 'mixins';

// Global Components

html,body {
  height: 100%;
}

body {
  @extend .serif;
  font-size: 18px;
  color: $gray-dark;

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

// -- Typography

p {
  line-height: 1.5;
  font-weight: 300;
  margin: 1.5em 0;
  a {
    border-bottom: 1px solid;
    &,&:hover,&:focus,&:active,&:visited{
      text-decoration: none;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .sans-serif;
  font-weight: 800;
}

a {
  @include transition-all(0.2s);
  text-decoration: none;
  color: $gray-dark;
  &:hover,
  &:focus {
    color: $brand-primary;
  }
}

a img {
  &:hover,
  &:focus {
    cursor: zoom-in;
  }
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  @extend .serif;
  color: $gray;
  font-weight: 300;
  font-style: italic;
  font-size: 1.1em;

  p:first-child {
    margin-top: 0;
  }
}

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}

// Navigation

.navbar-custom {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  @include transition-all(0.3s);
  @extend .sans-serif;
  a.navbar-brand {
    @extend .caps;
    font-size: 1.5em;
    font-weight: 400;
    margin-left: 0px !important;
    text-align: center;
    &:hover {
      color: $brand-primary
    }
  }
  .nav {
    li {
      margin-right: 1em;
      a {
        @include transition-all(0.2s);
        @extend .caps;
        font-size: .75em;
        font-weight: 800;
        border: 2px solid transparent;

        &:hover,&:focus {
          border-color: white;
          color: $brand-primary;
        }
        &.current {
          opacity: 0.5;
          &:hover,&:focus {
            border-color: transparent;
          }
        }
      }
    }
  }

  &.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    padding: 0;
    @include translate3d(0, -100%, 0);
    background-color: white;
    border-bottom: 1px solid darken(white, 5%);

    .navbar-brand {
      color: $gray-dark;
      &:hover,
      &:focus {
        color: $brand-primary;
      }
    }
    .nav {
      li {
        a {
          color: $gray-dark;
          &:hover,
          &:focus {
            color: $brand-primary;
          }
        }
      }
    }
  }
  &.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    @include translate3d(0, 0, 0);
  }

  @media only screen and (min-width: 768px) and (max-width: 900px) {
    & {
      padding: 1em;
    }

    .container-fluid {
      padding-left: 0;
    }

    .nav {
      li {
        a {
          padding-left: .5em !important;
          padding-right: .5em !important;
          font-size: .75em;
        }
      }
    }
  }

  @media only screen and (min-width: 900px) {
    padding: 2em;
  }

  @media only screen and (min-width: 768px) {
    background: transparent;
    border-bottom: 1px solid transparent;
    .navbar-brand {
      color: white;
      padding: .5em;
    }
    .nav {
      li {
        a {
          color: white;
          padding: 1em;

          &:hover,&:focus {
            color: white;
          }
        }
      }
    }
  }
}

// Header

.intro {
  margin-bottom: 2em;
}

.intro-header {
  position: relative;
  background-color: darken($brand-primary, 20%);
  background-attachment: fixed;

  @media only screen and (max-width: 768px) {
    background-attachment: scroll;
  }

  .fader {
    position: absolute;
    width: 100%;
    height: 100%;
    @include linear-gradient(rgba($gray-dark, 0.35), rgba($gray-dark, 0.5));
  }

  a.post-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    &:hover {
      color: $gray-light;
    }
    outline: none;
  }

  .feat {
    @extend .caps;
    @extend .sans-serif;
    font-size: .7em;

    i {
      opacity: 0.9;
    }
  }

  .call-to-read {
    margin-top: 1.5em;
    a {
      @extend .sans-serif;
      @extend .btn-action;
      border: 2px solid white;
      background: transparent;
      color: white;
    }
  }

  .down-arrow {
    margin-top: .5em;
    text-align: center;
    font-size: 2em;
    @include transition-all(0.2s);
    &.invisible {
      opacity: 0;
    }
  }

  @extend .background-cover;
  .site-heading,
  .post-heading,
  .page-heading {
    padding: 100px 0 50px;
    color: white;
    @media only screen and (min-width: 768px) {
      padding: 120px 0 50px;
    }
  }
  .site-heading,
  .page-heading {
    text-align: center;
    h1 {
      margin-top: 0;
      font-size: 2.5em;
    }
    .subheading {
      font-size: 1.2em;
      line-height: 1.33;
      display: block;
      @extend .sans-serif;
      font-weight: 400;
      margin: 10px 0 0;
    }
    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 4em;
      }
    }
  }
  .post-heading {
    h1 {
      font-size: 1.75em;
    }
    .subheading,
    .meta {
      line-height: 1.33;
      display: block;
    }
    .subheading {
      @extend .sans-serif;
      font-size: 1.25em;
      margin: 10px 0 30px;
      font-weight: 400;
    }
    .meta {
      @extend .serif;
      font-weight: 300;
      font-size: 1em;
      a {
        color: white;
        text-decoration: none;
        border-bottom: 1px solid rgba(white, 0.5);
        &:hover {
          border-bottom-color: white;
        }
      }
    }
    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 2em;
      }
      .subheading {
        font-size: 1.25em;
      }
    }
  }
}

.category {
  @extend .caps;
  @extend .sans-serif;
  font-size: 1em;
  margin: 1em 0;
}

.widgets {
  .widget {
    margin-bottom: 2em;
  }

  .fb-page {
    width: 100%;
  }
}

// Post Preview Pages

.post-preview {
  > a {
    @include transition-all(0.2s);
    color: $gray-dark;
    &:hover,
    &:focus {
      text-decoration: none;
      color: $brand-primary;
    }
    > .post-title {
      font-size: 1.5em;
      margin-top: 1em;
      margin-bottom: .5em;
    }
    > .post-subtitle {
      margin: 0;
      font-size: 1.1em;
      font-weight: 400;
      line-height: 1.25;
      margin-bottom: .5em;
    }
  }
  > .post-meta {
    color: $gray;
    font-size: .9em;
    font-weight: 400;
    margin-top: 0;
    a {
      text-decoration: none;
      color: $gray;
      border-bottom-color: rgba(black, 0.1);
      &:hover, &:focus {
        border-bottom-color: $brand-primary;
        color: $brand-primary;
      }
    }
  }
  @media only screen and (min-width: 768px) {
    > a {
      > .post-title {
        font-size: 1.5em;
      }
      > .post-subtitle {
        font-size: 1em;
      }
    }
  }
}

.content {
  font-size: 1.05em;
  a {
    border-bottom-color: rgba(black, 0.3);
    &:hover,&:focus {
      border-bottom-color: $brand-primary;
    }
  }
}

footer {
  background: lighten($brand-primary, 42%);
  font-size: 1em;
  font-weight: 300;
  color: $gray;
  margin-top: 3em;
  padding: 2.5em 0 3.25em;
  a {
    color: $gray;
    border-bottom-color: rgba(black, 0.2);
    &:hover,&:focus {
      color: $gray-dark;
      border-bottom-color: $gray-dark;
      text-decoration: none;
    }
  }
  .list-inline {
    margin: 0;
    padding: 0;
  }
}

// Sections

.section-heading {
  font-size: 1.8em;
  margin-top: 3em;
  font-weight: 700;
}

.caption {
  text-align: center;
  font-size: .7em;
  padding: .5em;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

// Button Styles

.btn {
  @extend .sans-serif;
  text-transform: uppercase;
  font-size: .7em;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: .75em 1.25em;
}

.btn-lg {
  font-size: .8em;
  padding: 1.25em 1.75em;
}

.btn-default {
  &:hover,
  &:focus {
    background-color: $brand-primary;
    border: 1px solid $brand-primary;
    color: white;
  }
}

// Pager Styling

.btn-action {
  @extend .caps;
  font-size: .75em;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 1em;
  background-color: white;
  border-radius: 0;

  &:hover,
  &:focus {
    color: white;
    text-decoration: none;
    background-color: $brand-primary;
    border-color: darken($brand-primary, 5%);
  }
}

.pager {
  margin: 1em 0 0;
  li {
    > a,
    > span {
      @extend .sans-serif;
      @extend .btn-action;
    }
  }

  .disabled {
    > a,
    > a:hover,
    > a:focus,
    > span {
      color: $gray;
      background-color: $gray-dark;
      cursor: not-allowed;
    }
  }
}

.share {
  border: 3px solid lighten($brand-primary, 20%);
  padding: 1em;
  .social-buttons{
    display: inline-block;
    padding: .25em 0 1.25em 0;
    .twitter-share-button {
        vertical-align: bottom;
    }
    a {
      margin-left: .5em;
    }
  }
}

.post-meta-main {
  margin-right: .5em;
}

// Hub front page

body.yov {
  background: black;
}

.yov {
  .stars, #gravity {
    z-index: -100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .logo {
    z-index: -99;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 80%;

    opacity: 1;

    img {
      margin: 0 auto;
      max-height: 100%;
    }
  }

  .links {
    @include transition-all(1s);

    position: fixed;
    bottom: 0em;
    width: 100%;
    padding: 4em;

    opacity: 1;

    ul {
      li {
        text-align: center;

        a {
          @include transition-all(0.2s);
          @extend .caps;
          @extend .sans-serif;
          display: inline-block;
          padding: .5em;
          font-size: 1.5em;
          font-weight: 400;
          color: white;
          border: 2.5px solid transparent;
          background: transparent;

          &:hover,
          &:active {
            background: transparent;
            border-color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.grid-item {
  margin-top: 2em;
  a {
    display: inline-block;
    padding: .5em;
    text-decoration: none;
    border: 2px solid transparent;
    &:hover,&:focus {
      color: $brand-primary;
      border-color: $brand-primary;
      img {
        cursor: inherit;
      }
    }
    @include transition-all(0.2s);
  }

  img {
    margin: 0 auto;
    width: 100%;
    max-width: 12em;
    margin-bottom: 1em;
  }
}