---
layout: default
title: Вісник
---

{% include sdk.html %}

<!-- Page Header -->
<div class="intro">
  {% assign counter = 0 %}
  {% for post in site.posts %}
    {% if post.featured and counter < site.featured_count %}
      {% assign counter = counter|plus:1 %}
      {% include post_header.html post=post link=post.url %}
    {% endif %}
  {% endfor %}
  {% assign latest_post = site.posts | first %}
  {% if counter == 0 %}
    {% include post_header.html post=latest_post link=latest_post.url %}
  {% endif %}
  {% assign featured_counter = counter %}
</div>

<!-- Main Content -->
<div class="container" id="posts">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-1 col-md-8">
      <div class="category">Останні статті</div>
      <hr>
      {% for post in paginator.posts %}
      <div class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl }}">
              <h2 class="post-title">
                  {{ post.title }}
              </h2>
              {% if post.subtitle %}
              <h3 class="post-subtitle">
                  {{ post.subtitle }}
              </h3>
              {% endif %}
          </a>
          <p class="post-meta"><span class="post-meta-main">{% if post.authorlink %}<a href="{{ post.authorlink }}">{{ post.author }}</a>{% else %}{{ post.author }}{% endif %}, {% include date.html date=post.date %}.</span> <a class="comments-link" href="{% include url.html part=post.url %}#disqus_thread"></a></p>
      </div>
      <hr>
      {% endfor %}

      {% if paginator.total_pages > 1 %}
      <!-- Pager -->
      <ul class="pager">
          {% if paginator.previous_page %}
          <li class="previous">
              <a href="{{ paginator.previous_page_path | replace: 'index.html', '' | prepend: site.baseurl | replace: '//', '/' }}#posts">&larr; <span class="hidden-xs">Свіжіші статті</span></a>
          </li>
          {% endif %}
          {% if paginator.next_page %}
          <li class="next">
              <a href="{{ paginator.next_page_path | replace: 'index.html', '' | prepend: site.baseurl | replace: '//', '/' }}#posts"><span class="hidden-xs">Старіші статті</span> &rarr;</a>
          </li>
          {% endif %}
      </ul>
      {% endif %}
    </div>
    <div class="col-lg-4 col-md-4 col-lg-offset-1 hidden-xs hidden-sm">
      <div class="widgets">

        <div class="category">Фейсбук</div>

        <div class="fb-page widget" data-href="https://www.facebook.com/yovkma" data-small-header="true" data-adapt-container-width="true" data-width="500" data-hide-cover="true" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/yovkma">Фейсбук Йова</a></div></div>

        <div class="category">Наживо</div>

        <div class="widget">
          <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/Yov_Boretskiy/with_replies" data-widget-id="637053760213266432" data-height="600px">
          Твіти Йова
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
/* * * CONFIGURATION VARIABLES * * */
var disqus_shortname = 'yovboretskiy';

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
