---
layout: default
---

<!-- Post Header -->
<div class="intro">
    <header class="intro-header" style="background-image: url('{{ site.baseurl }}/{{ page.image }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ page.title }}</h1>
                        {% if page.subtitle %}
                        <h2 class="subheading">{{ page.subtitle }}</h2>
                        {% endif %}
                        <span class="meta"><a href="{{ page.site }}">{{ page.author }}</a>, {% include date.html date=page.date %}</span>
                        <div class="call-to-read">
                            <em>Читання на {% include minutes.html text=content %}</em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                {{ content }}

                <hr>

                <div class="share">
                    <!-- AddToAny BEGIN -->
                    {% assign url = page.url | prepend: site.url | replace: 'http://', '' | replace: '//', '/'%}
                    {% if page.title %}
                      {% assign title = page.title | append: ' - ' | append: site.title %}
                    {% else %}
                      {% assign title = site.title %}
                    {% endif %}
                    <div class="a2a_kit a2a_kit_size_32 a2a_default_style social-buttons">
                    <a class="a2a_button_facebook"></a>
                    <a class="a2a_button_twitter"></a>
                    <a class="a2a_button_google_plus"></a>
                    <a class="a2a_button_pocket"></a>
                    </div>
                    <script type="text/javascript">
                    var a2a_config = a2a_config || {};
                    a2a_config.linkname = "{{ title }}";
                    a2a_config.linkurl = "{{ url }}";
                    a2a_config.locale = "uk";
                    </script>
                    <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
                    <!-- AddToAny END -->
                </div>


                <hr>

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Попередня стаття</a>
                    </li>
                    {% endif %}
                    <li>

                    </li>
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Наступна стаття &rarr;</a>
                    </li>
                    {% endif %}
                </ul>

                <hr>

                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES * * */
                    var disqus_shortname = 'yovboretskiy';

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

            </div>
        </div>
    </div>
</article>

<hr>